* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3{
    margin: 0;
    padding: 0;
    font-size: 1em;
}
.wrap{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1144px;
    margin: 0 auto;
}
.yellow{
    color: #F9BF3B;
}
.white{
    color: #FFFFFF;
}

/* promo */
.promo{
    height: 800px;
    background-image: url('../img/main_bg.jpg');
}
.promo-logo{
    margin-top: 39px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
}
.promo-logo .logo-text{
    text-transform: uppercase;
    font-weight: 300;
}
.promo-big-text{
    margin-top: 53px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 41px;
}
.promo-big-text .white{
    font-size: 1.7em;
}
.promo-text{
    margin-top: 22px;
    text-align: justify;
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
}
.promo-text .yellow{
    text-transform: uppercase;
    font-weight: 900;
}
.promo-button{
    min-width: 340px;
    height: 72px;
    margin: 72px auto;
    padding: 23px 15px;
    background-color: #3AB6DA;
    color: #FFFFFF;
    text-align: center;
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}
.promo-text-more{
    text-transform: uppercase;
    font-weight: 300;
}
.img-down{
    width: 30px;
    margin: 10px auto 60px;
}

/* about Intensive */
.aboutIntensive{
    background-color: #EFEFEF;
}
.about-info h2{
    margin-top: 88px;
    font-size: 30px;
    font-weight: 400;
    color: #252525;
    text-transform: uppercase;
}
.line{
    width: 220px;
    margin: 18px auto;
    border-bottom: 7px #F9BF3B solid;
}
.about-info h3{
    font-size: 23px;
    font-weight: 400;
    color: #4A4A4A;
}
.about-steps{
    margin-top: 45px;
    margin-bottom: 75px;
    display: flex;
    justify-content: space-between;
}
.about-steps .step{
    max-width: 342px;
}
.about-steps .step p{
    margin-top: 26px;
    font-size: 15px;
    color: #4A4A4A;
    line-height: 21px;
    font-weight: 300;
}

/* optimization */
.optimization{
    margin-top: 47px;
    background-image: url('../img/woman_bg.png');
    background-repeat: no-repeat;
    background-position-x: 8%;
}
.optimization .optimization-text{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 55px auto 55px 40%;
    text-align: left;
    max-width: 60%;
}
.optimization .optimization-text h3{
    font-size: 30px;
    color: #299CBD;
    font-weight: 900;
    text-transform: uppercase;
}
.optimization .optimization-text p{
    margin-top: 12px;
    font-size: 17px;
    color: #4A4A4A;
    line-height: 27px; 
    font-weight: 300;
}
.optimization .optimization-text p.last{
    font-weight: 700;
}

/* you-can-got */
.you-can-got{
    background: url('../img/second_bg.jpg') center center/cover no-repeat;
}
.you-can-got h3{
    margin-top: 86px;
    font-size: 30px;
    color: #EFEFEF;
    text-transform: uppercase;
    font-weight: 400;
}
.advantages{
    display: flex;
    margin: 40px 10px 90px;
    justify-content: justified;
    color: #EFEFEF;
    font-size: 17px;
    line-height: 20px;
    font-weight: 300;
}
.advantages .advantage{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 18%;
}
.advantages .advantage .circle{
    display: flex;
    justify-content: center;
    width: 118px;
    height: 118px;
    background-color: #B4E2FF;
    border-radius: 50%;
}
.advantages .advantage p{
    margin-top: 10px;
    min-width: 204px;
}

/* gift */
.gift{
    background: #EFEFEF;
}
.gift .gift-info{
    display: flex;
    flex-direction: column;
    margin-top: 88px;
}
.gift .gift-info img{
    max-width: 154px;
    margin: 0 auto;
}
.gift .gift-info p{
    margin-top: 45px;
    font-size: 30px;
    line-height: 43px;
}

/* first-lesson */
.first-lesson{
    margin-bottom: 54px;
}
.first-lesson p{
    font-size: 30px;
    margin-top: 24px;
    font-weight: 400;
}
.first-lesson .big{
    font-size: 30;
    text-transform: uppercase;
}
.first-lesson img{
    min-width: 340px;
    margin-top: 89px;
}
.first-lesson h3{
    margin-top: 25px;
    font-size: 36px;
    color: #299CBD;
    text-transform: uppercase;
    font-weight: 900;
}

/* footer */
footer{
    display: flex;
    align-items: center;
    background: #1A1A1A;
    height: 170px;
    color: #888888;
}
footer a{
    color: #888888;
}
